<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="UFODB" connectionString="server=127.0.0.1;
                                        uid=root;
                                        pwd=root;
                                        database=test;
                                        pooling=true;
                                        MinimumPoolSize=20;
                                        MaximumPoolSize=100;
                                        ConnectionReset=True;
                                        CacheServerProperties=True;
                                        ConnectionTimeout=30;
                                        DefaultCommandTimeout=30;
                                        ConvertZeroDateTime=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="DbProviderAssembly" value="MySql.Data"/>
    <add key="DbProviderAssemblyConnectionType" value="MySqlClient.MySqlConnection"/>
    <add key="DaoAssembly" value="UFO.Server.Data.MySql"/>
    <add key="ServiceAssembly" value="UFO.Server.Service.Impl"/>
  </appSettings>
</configuration>